<div class="replies-post p-3 border-t-[1px] border-border-color tbl:px-6">
    <div class="replies-post-info flex flex-nowrap items-center relative">
        <div class="replies-post-more-btn w-5 h-5 absolute top-0 right-0 cursor-pointer">
            <svg aria-label="More" role="img" viewBox="0 0 24 24" fill="#777">
                <title>More</title>
                <circle cx="12" cy="12" r="1.5"></circle>
                <circle cx="6" cy="12" r="1.5"></circle>
                <circle cx="18" cy="12" r="1.5"></circle>
            </svg>
            <div
                class="replies-post-more-list hidden select-none overflow-hidden fixed z-[4] top-0 bottom-0 right-0 left-0 bg-[#00000080] items-end text-primary-text text-[15px] font-semibold border-[1px] border-border-color rounded-t-2xl shadow-[0_10.5px_21px_rgba(0,_0,_0,_0.078)] tbl:absolute tbl:top-full tbl:z-[1] tbl:w-[224px] tbl:right-0 tbl:my-2 tbl:mr-[-19px] tbl:bg-content-bg tbl:left-auto tbl:bottom-auto tbl:rounded-b-2xl">
                <div
                    class="w-screen box-border p-4 pt-0 bg-content-bg rounded-t-3xl border-[1px] border-[#f3f5f726] border-b-0 tbl:p-0 tbl:rounded-none tbl:border-0 tbl:w-full">
                    <div class="w-full py-3 flex justify-center tbl:hidden">
                        <div class="w-10 h-1 bg-secondary-text rounded-full"></div>
                    </div>
                    <div
                        class="w-full rounded-2xl overflow-hidden bg-[#1e1e1e] mb-4 tbl:p-2 tbl:mb-0 tbl:rounded-none tbl:bg-transparent">
                        <div
                            class="replies-post-more-list__item min-h-[20px] box-content p-5 flex items-center justify-between tbl:rounded-xl cursor-pointer border-b-[1px] border-[#f3f5f726] hover:bg-[#212121] tbl:p-3 tbl:border-b-0">
                            <span>Save</span>
                            <svg aria-label="" role="img" viewBox="0 0 20 20" class="w-5 h-5">
                                <title></title>
                                <path stroke="white" fill="none"
                                    d="M3.40039 17.7891V3.94995C3.40039 2.43117 4.6316 1.19995 6.15039 1.19995H13.8448C15.3636 1.19995 16.5948 2.43117 16.5948 3.94995V17.6516C16.5948 18.592 15.4579 19.063 14.7929 18.398L10.6201 14.2252C10.4198 14.0249 10.097 14.0184 9.88889 14.2106L5.17191 18.5647C4.49575 19.1888 3.40039 18.7093 3.40039 17.7891Z">
                                </path>
                            </svg>
                        </div>
                        <div
                            class="replies-post-more-list__item min-h-[20px] box-content p-5 flex items-center justify-between tbl:rounded-xl cursor-pointer hover:bg-[#212121] tbl:p-3">
                            <span>Hide for everyone</span>
                            <svg aria-label="" role="img" viewBox="0 0 20 20" class="w-5 h-5">
                                <title></title>
                                <path d="M1.5 1.75L18.5 18.25" stroke="white" stroke-linecap="round" stroke-width="1.5">
                                </path>
                                <path
                                    d="M3.47414 6.27892C3.20456 6.01727 2.78029 5.99602 2.50117 6.24747C1.41059 7.22999 0.587673 8.33683 0.139959 9.36712C-0.0338603 9.76712 -0.0300002 10.2108 0.129836 10.601C1.24049 13.3126 4.48326 16.75 10.0001 16.75C10.8741 16.75 11.68 16.6639 12.4235 16.5086C13.0002 16.3882 13.1633 15.6831 12.7405 15.2728V15.2728C12.5453 15.0833 12.2667 15.0101 11.9998 15.0626C11.3839 15.1836 10.7188 15.25 10.0001 15.25C5.18515 15.25 2.43521 12.272 1.51791 10.0325C1.50596 10.0033 1.50888 9.98059 1.51568 9.96494C1.85715 9.17913 2.51757 8.26748 3.43478 7.42578C3.76747 7.12048 3.79816 6.59341 3.47414 6.27892V6.27892ZM16.5428 13.7373C16.2272 13.431 16.2465 12.9204 16.5569 12.6088C17.3554 11.8075 17.9704 10.9194 18.4571 10.0897C18.4939 10.0269 18.489 9.95912 18.4597 9.91192C17.0155 7.58585 14.0306 4.75 10.0001 4.75C9.33037 4.75 8.67997 4.82776 8.05567 4.96835C7.78456 5.02941 7.49807 4.95861 7.29866 4.76506V4.76506C6.8837 4.36231 7.03604 3.66842 7.59858 3.53444C8.36334 3.35229 9.16684 3.25 10.0001 3.25C14.7628 3.25 18.1518 6.57225 19.734 9.12072C20.066 9.65543 20.0607 10.3204 19.7509 10.8485C19.206 11.7776 18.4889 12.8103 17.5356 13.7488C17.26 14.0201 16.8203 14.0067 16.5428 13.7373V13.7373Z"
                                    fill="white"></path>
                                <path
                                    d="M6.36296 9.08288C6.28918 9.37637 6.25 9.68361 6.25 10C6.25 12.0711 7.92893 13.75 10 13.75C10.3555 13.75 10.6994 13.7005 11.0253 13.6081L6.36296 9.08288ZM13.637 10.9171C13.7108 10.6236 13.75 10.3164 13.75 10C13.75 7.92893 12.0711 6.25 10 6.25C9.6445 6.25 9.30056 6.29947 8.97468 6.39189L13.637 10.9171Z"
                                    fill="white"></path>
                            </svg>
                        </div>
                    </div>
                    <div
                        class="w-full rounded-2xl overflow-hidden bg-[#1e1e1e] mb-4 tbl:p-2 tbl:mb-0 tbl:rounded-none tbl:bg-transparent tbl:border-t-[1px] tbl:border-border-color">
                        <div
                            class="replies-post-more-list__item min-h-[20px] box-content p-5 flex items-center justify-between tbl:rounded-xl cursor-pointer border-b-[1px] border-[#f3f5f726] hover:bg-[#212121] tbl:p-3 tbl:border-b-0">
                            <span>Unfollow</span>
                            <svg aria-label="" role="img" class="w-5 h-5">
                                <title></title>
                                <circle cx="10" cy="4.5" fill="none" r="3.75" stroke="white" stroke-width="1.5">
                                </circle>
                                <path
                                    d="M11.5 19C11.5 19.4142 11.8358 19.75 12.25 19.75H16.5C17.7426 19.75 18.75 18.7426 18.75 17.5V16.5C18.75 13.6005 16.3995 11.25 13.5 11.25H12.25C11.8358 11.25 11.5 11.5858 11.5 12V12C11.5 12.4142 11.8358 12.75 12.25 12.75H13.5C15.5711 12.75 17.25 14.4289 17.25 16.5V17.5C17.25 17.9142 16.9142 18.25 16.5 18.25H12.25C11.8358 18.25 11.5 18.5858 11.5 19V19Z"
                                    fill="white"></path>
                                <rect fill="none" height="8.5" rx="4.25" stroke="white" stroke-width="1.5"
                                    transform="rotate(-180 9.25 19)" width="8.5" x="9.25" y="19"></rect>
                                <path d="M3.40918 14.75H6.591" fill="none" stroke="white" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="1.5"></path>
                            </svg>
                        </div>
                        <div
                            class="replies-post-more-list__item min-h-[20px] box-content p-5 flex items-center justify-between tbl:rounded-xl cursor-pointer hover:bg-[#212121] text-red-600 tbl:p-3">
                            <span>Report</span>
                            <svg aria-label="" role="img" viewBox="0 0 24 24" class="w-5 h-5">
                                <title></title>
                                <path stroke="red" fill="red"
                                    d="M18.001 1h-12a5.006 5.006 0 0 0-5 5v9.005a5.006 5.006 0 0 0 5 5h2.514l2.789 2.712a1 1 0 0 0 1.394 0l2.787-2.712h2.516a5.006 5.006 0 0 0 5-5V6a5.006 5.006 0 0 0-5-5Zm3 14.005a3.003 3.003 0 0 1-3 3h-2.936a1 1 0 0 0-.79.387l-2.274 2.212-2.276-2.212a1 1 0 0 0-.79-.387H6a3.003 3.003 0 0 1-3-3V6a3.003 3.003 0 0 1 3-3h12a3.003 3.003 0 0 1 3 3Zm-9-1.66a1.229 1.229 0 1 0 1.228 1.228A1.23 1.23 0 0 0 12 13.344Zm0-8.117a1.274 1.274 0 0 0-.933.396 1.108 1.108 0 0 0-.3.838l.347 4.861a.892.892 0 0 0 1.77 0l.348-4.86a1.106 1.106 0 0 0-.3-.838A1.272 1.272 0 0 0 12 5.228Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <div
                        class="w-full rounded-2xl overflow-hidden bg-[#1e1e1e] mb-4 tbl:p-2 tbl:mb-0 tbl:rounded-none tbl:bg-transparent tbl:border-t-[1px] tbl:border-border-color">
                        <div
                            class="replies-post-more-list__item min-h-[20px] box-content p-5 flex items-center justify-between tbl:rounded-xl cursor-pointer hover:bg-[#212121] tbl:p-3">
                            <span>Copy link</span>
                            <svg aria-label="" role="img" viewBox="0 0 18 18" class="w-5 h-5">
                                <title></title>
                                <path
                                    d="M8.39992 5.44993L9.50669 4.34316C11.2046 2.64524 13.9575 2.64524 15.6554 4.34316V4.34316V4.34316C17.3533 6.04108 17.3533 8.79396 15.6554 10.4919L14.5486 11.5987"
                                    stroke="white" fill="none" stroke-linecap="round" stroke-width="1.65"></path>
                                <path
                                    d="M5.44773 8.40114L4.34096 9.50791C2.64304 11.2058 2.64304 13.9587 4.34096 15.6566V15.6566V15.6566C6.03889 17.3546 8.79176 17.3546 10.4897 15.6566L11.5965 14.5499"
                                    stroke="white" fill="none" stroke-linecap="round" stroke-width="1.65"></path>
                                <path d="M12.7051 7.29565L7.2942 12.7065" stroke="white" fill="none"
                                    stroke-linecap="round" stroke-width="1.65"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img src="<%= reply.avatarSrc %>" alt=""
            class="replies-user-img w-9 h-9 rounded-full border-border-color border-[0.5px] object-cover self-start select-none" />
        <div class="flex flex-col pl-3 w-[calc(100%-36px)]">
            <div class="block">
                <a href="#"
                    class="replies-post-username inline-block text-[15px] font-user-weight hover:underline"><%= reply.userName %></a>
                <p class="replies-post-timestamp inline-block text-[15px] text-secondary-text"><%= reply.timestamp %></p>
            </div>
            <span
                class="replies-post-content block text-[15px] font-normal text-primary-text break-words whitespace-normal mt-[3px]">
                <%= reply.content.quote %>
            </span>
            <% if (reply.content.images.length> 0) { %>
                <div class="reply-img max-w-[calc(100%+48px)] m-h-[430px] mt-2 flex space-x-[6px] overflow-x-auto custom-scrollbar ml-[-48px]">
                    <% reply.content.images.forEach((image, index)=> { %>
                        <img src="<%= image %>" alt="Image <%= index + 1 %>"
                            class="reply-user-img rounded-lg max-w-full max-h-full object-cover outline-1 outline-[#f3f5f726] border-none select-none <%= index === 0 ? 'ml-[48px]' : '' %>" />
                        <% }) %>
                </div>
            <% } %>
            <div class="replies-post-action ml-[-12px] mt-[3px] select-none">
                <button
                    class="post-action-like h-9 inline-flex flex-nowrap items-center justify-center px-3 rounded-[20px] cursor-pointer hover:bg-[#222222]">
                    <svg aria-label="Like" role="img" viewBox="0 0 18 18" class="w-[18px] h-[18px]">
                        <title>Like</title>
                        <path stroke="#ccc" fill="none"
                            d="M1.34375 7.53125L1.34375 7.54043C1.34374 8.04211 1.34372 8.76295 1.6611 9.65585C1.9795 10.5516 2.60026 11.5779 3.77681 12.7544C5.59273 14.5704 7.58105 16.0215 8.33387 16.5497C8.73525 16.8313 9.26573 16.8313 9.66705 16.5496C10.4197 16.0213 12.4074 14.5703 14.2232 12.7544C15.3997 11.5779 16.0205 10.5516 16.3389 9.65585C16.6563 8.76296 16.6563 8.04211 16.6562 7.54043V7.53125C16.6562 5.23466 15.0849 3.25 12.6562 3.25C11.5214 3.25 10.6433 3.78244 9.99228 4.45476C9.59009 4.87012 9.26356 5.3491 9 5.81533C8.73645 5.3491 8.40991 4.87012 8.00772 4.45476C7.35672 3.78244 6.47861 3.25 5.34375 3.25C2.9151 3.25 1.34375 5.23466 1.34375 7.53125Z"
                            stroke-width="1.25"></path>
                    </svg>
                    <% if (reply.like > 0) { %>
                        <span class="like-num text-[#ccc] text-[13px] font-normal pl-1"> <%= reply.like %></span>
                    <% } %>
                </button>
            </div>
        </div>
    </div>
</div>